BasedOnStyle: LLVM
IndentWidth: 2
ContinuationIndentWidth: 4
ColumnLimit: 100
UseTab: Never
BreakBeforeBraces: Attach
BreakTemplateDeclarations: Yes
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
InsertBraces: true
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
ReflowComments: false
LineEnding: DeriveCRLF
